header.header
  .header__top
    .container
      .header__top_left
        ul
          li
            a(href="#") Language
          li
            a(href="#") Currency - $
      .header__top_right
        ul
          li
            a(href="#") My account
          li
            a(href="#") Wish list (0)
  .header__main
    .container
      .header__main_left
        a.logo(href="#")
          p.logo__brand cherry<span>shop</span>
          p.logo__sub top of the fashion
      .header__main_right
        form.form_search
          input(type="search", placeholder="Search....")
          input(type="submit", value="")
        ul.account-list
          li
            a(href="#") Welcome Login
          li
            a(href="#") Create an account
        a.cart(href="#") 0 item(s) - $0.00