nav.nav
  .container
    ul.nav__list
      li.nav__item
        a.nav__link(href="#") electronics
      li.nav__item
        a.nav__link.nav-toggle(href="#") parts & accessories
        .nav__dropdown
          ul.dropdown__list
            li.dropdown__item womens
            li.dropdown__item
              a.dropdown__link(href="#") about us
            li.dropdown__item
              a.dropdown__link(href="#") delivery information
            li.dropdown__item
              a.dropdown__link(href="#") privacy policy
            li.dropdown__item
              a.dropdown__link(href="#") terms & conditions
            li.dropdown__item
              a.dropdown__link(href="#") about us
            li.dropdown__item
              a.dropdown__link(href="#") delivery information
          ul.dropdown__list
            li.dropdown__item mens
            li.dropdown__item
              a.dropdown__link(href="#") about us
            li.dropdown__item
              a.dropdown__link(href="#") delivery information
            li.dropdown__item
              a.dropdown__link(href="#") privacy policy
            li.dropdown__item
              a.dropdown__link(href="#") terms & conditions
            li.dropdown__item
              a.dropdown__link(href="#") about us
            li.dropdown__item
              a.dropdown__link(href="#") delivery information
          .dropdown__products
            p.products__title awesome products
            p.products__desc beuty comes naturally
      li.nav__item
        a.nav__link(href="#") components
      li.nav__item
        a.nav__link(href="#") fashion
      li.nav__item
        a.nav__link(href="#") interiors
      li.nav__item
        a.nav__link(href="#") kitchen
      li.nav__item
        a.nav__link(href="#") house holds