section.about
  .container
    .about_left
      h2.section__title about store
      p.section__text electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishingelectronic typesetting,  It was popularised in the 1960s with the release of Letraset
      a.section-btn(href="#") read more
    ul.about__list
      li.about__item
        a.about__link(href="#") about us
      li.about__item
        a.about__link(href="#") delivery information
      li.about__item
        a.about__link(href="#") privacy policy
      li.about__item
        a.about__link(href="#") terms & conditions
      li.about__item
        a.about__link(href="#") about us
      li.about__item
        a.about__link(href="#") about us
      li.about__item
        a.about__link(href="#") delivery information