section.banner
  .container
    .banner__text-block
      p.banner__text try our new <span>collection</span>
      p.banner__text_center inspired from the cold nature
      p.banner__text exclusive in <span>our store</span>